<div style="text-align:left;font-size:2em"><span style="font-weight:bolder;font-size:1.25em">SP2273 | Learning Portfolio</span><br><br><span style="font-weight:bold;color:darkred">Loops (Need) Exercises</span></div>

# Exercise 1

You are provided with the following list of temperatures in Celsius. Write a quick Python snippet that converts each temperature to Fahrenheit and prints both temperatures.

From Google:
$$
T(°C) \times \dfrac{9}{5} + 32 = T(°F)
$$
]

In [3]:
temperatures_celsius = [0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50]

In [6]:
import numpy as np

In [13]:
temperatures_celsius_array = np.array(temperatures_celsius)        # Converts the list into an array
temperatures_fahrenheit = (temperatures_celsius_array)*1.8 + 32    # Performs the conversion
print(temperatures_fahrenheit)

[ 32.  41.  50.  59.  68.  77.  86.  95. 104. 113. 122.]

In [71]:
for celsius, fahrenheit in enumerate(temperatures_fahrenheit):     # First method using enumerate
    celsius = temperatures_celsius[celsius]
    print(celsius, '°C is', fahrenheit, '°F')

0 °C is 32.0 °F
5 °C is 41.0 °F
10 °C is 50.0 °F
15 °C is 59.0 °F
20 °C is 68.0 °F
25 °C is 77.0 °F
30 °C is 86.0 °F
35 °C is 95.0 °F
40 °C is 104.0 °F
45 °C is 113.0 °F
50 °C is 122.0 °F

In [72]:
for index in range(len(temperatures_celsius)):                     # Second method using range
    print(temperatures_celsius[index], '°C is', temperatures_fahrenheit[index], '°F')

0 °C is 32.0 °F
5 °C is 41.0 °F
10 °C is 50.0 °F
15 °C is 59.0 °F
20 °C is 68.0 °F
25 °C is 77.0 °F
30 °C is 86.0 °F
35 °C is 95.0 °F
40 °C is 104.0 °F
45 °C is 113.0 °F
50 °C is 122.0 °F

# Exercise 2

## Example

In [47]:
for letter in ['A', 'B', 'C']:
    for number in [1, 2, 3]:
        print(f'{letter}{number}', end='\t')    # prints a TAB instead of a new line after every 'number'
    print('\n')                                 # prints an additional line after every 'letter'

A1	A2	A3

B1	B2	B3

C1	C2	C3

## Task

Write a Python snippet that prints a multiplication table (up to 5) for numbers 1 through 5 using **nested** `for` loops. The output should be formatted as shown below:

```
1 : 1   2   3   4   5   
2 : 2   4   6   8   10  
3 : 3   6   9   12  15  
4 : 4   8   12  16  20  
5 : 5   10  15  20  25
```

In [65]:
for n, first_number in enumerate([1, 2, 3, 4, 5]):          # Creates a truple with (n, first_number)
    for second_number in [1, 2, 3, 4, 5]:
        product = first_number*second_number                # Apparently one can multiply values even though first_number and second_number are not arrays
        if second_number == 1:                              # Creating the case for the very first number so that we can print the 1:
            print(n+1, ':', '\t', product, end='\t')        # at the start of every row
        else:
            print(product, end='\t')
    print('\n')

1 : 	 1	2	3	4	5

2 : 	 2	4	6	8	10

3 : 	 3	6	9	12	15

4 : 	 4	8	12	16	20

5 : 	 5	10	15	20	25